<!DOCTYPE html>
<html ng-app="findPassword">

	<head ng-app="findPassword">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scale=0,user-scalable=no">
		<!--uc浏览器强制竖屏-->
		<meta name="screen-orientation" content="portrait">
		<!--QQ浏览器强制竖屏-->
		<meta name="x5-orientation" content="portrait">
		<title>找回密码</title>
		<link rel="stylesheet" type="text/css" href="css/mobileMain.css"/>
		<link rel="stylesheet" type="text/css" href="css/findPassword.css" />
		<script src="js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/findPassword.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body ng-controller="findPasswordController">
		<header>
			<img src="img/logo.png" class="logo" />
			<img src="img/bind.png" class="bind" />
			<div class="title">
				<p>找回密码</p>
				<p ng-show="showView">1.验证手机</p>
				<p ng-show="!showView">2.设置新密码</p>
			</div>
		</header>
		<section class="view1" ng-show="showView">
			<div class="content">
				<p>
					<span class="circle"></span>手机号
				</p>
				<p>
					<input id="mobile" type="tel" placeholder="请输入11位手机号..." />
				</p>
				<p>
					<span id="confirm"></span>
					<input type="text" id="code" placeholder="请输入..." />
				</p>
				<p>
					<button class="sendMessage" ng-click="sendMessage()">获取短信验证码</button>
				</p>
				<p>
					<span class="circle"></span>手机验证码
				</p>
				<p>
					<input id="messageCode" type="tel" placeholder="请输入手机验证码..." />
				</p>
			</div>
		</section>
		<section class="view2" ng-show="!showView">
			<div class="content">
				<p>
					<span class="circle"></span>新密码
				</p>
				<p>
					<input id="newPassword1" type="password"/><img src="img/correct.png" />
				</p>
				<p>
					<span class="circle"></span>请重复输入新密码
				</p>
				<p>
					<input id="newPassword2" type="password"/><img src="img/correct.png" />
				</p>
			</div>		
		</section>
		<footer ng-show="showView" ng-click="next()">下一步</footer>
		<footer ng-show="!showView" ng-click="toSubmit()">确定</footer>
	</body>

</html>