/*right2*/

.right2 {
	background: #fafafa;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: flex-start;
}

.container {
	width: 1180px;
	margin-top: 10px;
	float: left;
}

.container>div {
	float: left;
}

.top_notice {
	color: #31364a;
	width: 100%;
}

.top_notice img {
	vertical-align: text-top;
	margin-right: 10px;
}

.nav {
	width: 570px;
	height: 45px;
	margin-top: 30px;
}

.nav .navbar {
	width: 150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	float: left;
	background: #FFFFFF;
	border: 1px solid #ececec;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #31364a;
	text-decoration: none;
}

.navbar_on {
	background: #3a4a8d !important;
	color: #FFFFFF !important;
	border: 1px solid #3a4a8d !important;
}

.nav .btn {
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	color: #FFFFFF;
	background: #3a4a8d;
	margin-left: 18px;
	float: right;
	margin-top: 15px;
}

.nav .btn:hover,
.nav .btn:active {
	background: #da821a;
	cursor: pointer;
}

.circle1 {
	width: 10px;
	height: 10px;
	border: 1px solid #808080;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
}

.circle2 {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #da821a;
	border-radius: 50%;
	display: none;
}

.
/*分页器*/

@charset "UTF-8";
.demo-image {
	width: 100%;
}

.M-box1 {
	float: right;
	text-align: center;
	margin-top: 8px;
}

.M-box1:before,
.M-box1:after {
	content: "";
	display: table;
}

.M-box1:after{
	clear: both;
	overflow: hidden;
}

.M-box1 span {
	float: left;
	margin: 0 5px;
	width: 32px;
	height: 30px;
	line-height: 30px;
	color: #bdbdbd;
	font-size: 14px;
}

.M-box1 .active {
	float: left;
	margin: 0 5px;
	width: 32px;
	height: 30px;
	line-height: 30px;
	background: #9E9CA0;
	color: #fff;
	font-size: 14px;
	border: 1px solid #f0f0f0;
}

.M-box1 a{
	float: left;
	margin: 0 5px;
	width: 32px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border: 1px solid #f0f0f0;
	color: #bdbdbd;
	font-size: 14px;
}

.M-box1 a:hover {
	color: #fff;
	background: #9E9CA0;
}

.M-box1 .next,
.M-box1 .prev {
	font-family: "Simsun";
	font-size: 16px;
	font-weight: bold;
}

.now,
.count {
	padding: 0 5px;
	color: #f00;
}

.eg img {
	max-width: 800px;
	min-height: 500px;
}

.content {
	width: 100%;
	height: 520px;
	margin-top: 10px;
}

.content_box {
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	flex-direction: row;
}

.content_left {
	width: 575px;
	border: 1px solid #ececec;
}

.content_right {
	width: 600px;
	height: 100%;
}

.content_left td {
	width: calc(575px / 4);
	text-align: center;
}

.content_left tr:first-child td {
	height: 38px;
	line-height: 38px;
	background: #e8e9ed;
}

.content_left tr:not(:first-child) td {
	height: 48.2px;
	line-height: 48.2px;
}

.content_left tr:nth-child(2n) {
	background: #f8f8f8;
}

.content_left tr:nth-child(2n+1) {
	background: #FFFFFF;
}

.content_left td:nth-child(2) {
	color: #31364a;
}

.statusClass0 {
	color: #da821a;
}

.statusClass1 {
	color: #3a4a8d;
}

.statusClass2 {
	color: #dc5236;
}

.edit {
	color: #3a4a8d;
	cursor: pointer;
}

.del {
	color: #da821a;
	cursor: pointer;
}

.tips {
	width: 100%;
	height: 38px;
	background: #e8e9ed;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	border: 1px solid #ececec;
	border-bottom: 0;
}

.tips img,
.tips span {
	margin-left: 10px;
}

#test {
	width: 100%;
	height: 320px;
}

.writeTip {
	width: 100%;
	height: 432px;
	position: relative;
	border: 1px solid #ececec;
	border-top: 0;
	background: #FFFFFF;
}

.edui-default .edui-editor {
	border: 0 !important;
}

.fontCount {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #333333;
}

.currentCount {
	color: #9b9b9b !important;
}

.tip_operation {
	width: 100%;
	height: 50px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
}

.tipBtn {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	background: #31364a;
	color: #FFFFFF;
}

.tip_save:hover,
.tip_clear:hover {
	background: #da821a;
}

.tip_save {
	margin-right: 10px;
}


/**第一步编辑*/

.editStep {
	width: 100%;
	float: left;
	display: none;
}

.editStep>div {
	float: left;
}

.edit_title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #e5e7f1;
	color: #31364a;
	font-size: 18px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
}

.edit_title>div {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 25px;
}

.delLabel {
	margin-left: 0;
	margin-right: 25px;
	border-radius: 4px;
	background: #31364a;
	color: #FFFFFF;
	display: none;
}

.delLabel:hover {
	background: #da821a;
	cursor: pointer;
}

.firstStep_box {
	width: 100%;
}

.firstStep {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.card {
	width: 348px;
	height: 460px;
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0px 1px 10px 0px rgba(124, 106, 80, 0.22);
	margin-top: 10px;
}

.card input {
	border: 0;
	outline: none;
	background: transparent;
	height: 100%;
}

.box_top {
	width: 100%;
	height: 120px;
	background: transparent;
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	overflow: hidden;
}

.wave {
	opacity: .4;
	position: absolute;
	top: 3%;
	left: 50%;
	background: #B69768;
	width: 1000px;
	height: 1000px;
	margin-left: -151%;
	margin-top: -263%;
	-webkit-transform-origin: 50% 48%;
	transform-origin: 50% 50%;
	border-radius: 45%;
	-webkit-animation: drift 8000ms infinite linear;
	-moz-animation: drift 8000ms infinite linear;
	animation: drift 8000ms infinite linear;
}

.wave.-two {
	-webkit-animation: drift 10000ms infinite linear;
	-moz-animation: drift 10000ms infinite linear;
	animation: drift 10000ms infinite linear;
	opacity: .5;
	background: #B69768;
}

@-webkit-keyframes drift {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	from {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes drift {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	from {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.analystTitle {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 200px;
	height: 50px;
}

.analyst_level {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 40px;
	height: 40px;
	z-index: 2;
}

.analyst_level_bg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -15px;
	margin: auto;
	width: 70px;
	height: 70px;
	animation-name: rotated;
	animation-iteration-count: 1;
	animation-duration: 5s;
	animation-timing-function: linear;
}

.analystTitle p {
	text-align: left;
	color: #FFFFFF;
}

.analystTitle p:first-of-type {
	font-size: 14px;
}

.analystTitle p:last-of-type input {
	color: #FFFFFF;
	width: 100%;
	font-size: 18px;
	text-shadow: 0 0 0.2em #926d32, -0 -0 0.2em #926d32;
}

@-webkit-keyframes rotated {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotated {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.box_bottom {
	width: 308px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
}

.box_bottom p {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
}

.box_bottom img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	opacity: 0.4;
}

.box_bottom .money {
	font-family: "PF_bold";
	font-weight: bold;
	width: 135px;
}

.box_bottom .zj {
	color: #ab8c5f;
}

.box_bottom .sz {
	color: #ee5123;
}

.box_bottom .pzh {
	color: #949494
}

.box_bottom .date {
	color: #949494;
	width: 80px;
}

.box_bottom .bg {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-indent: 10px;
	border-radius: 4px;
	background: linear-gradient(to right, #f37223, #dfdfe5);
	font-weight: bold;
}

.box_bottom .bg input {
	text-indent: 10px;
	color: #FFFFFF;
}

.box_bottom .plan {
	border-top: 1px dashed #d8d8d8;
	padding-top: 0.5rem;
	position: relative;
}

.box_bottom .plan .plan_title {
	color: #a88b60;
}

.box_bottom .plan textarea {
	width: 100%;
	height: 70px;
	border: 0;
	outline: none;
	background: transparent;
	resize: none;
	font-size: 14px;
	text-indent: 2em;
}

.firstStepGroup {
	width: 100%;
	height: 30px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.firstStepGroup>div {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	color: #FFFFFF;
	background: #31364a;
	border-radius: 4px;
}

.firstStepGroup>div:first-of-type {
	margin-right: 15px;
}

.firstStepGroup>div:hover {
	background: #da821a
}


/**第二步编辑*/

.secondStep_box {
	width: 100%;
	display: none;
}

.secondStep {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.secondStep_top {
	width: 100%;
	height: 40px;
	margin-top: 20px;
}

.secondStep_top ul {
	width: 100%;
	height: 100%;
}

.secondStep_top ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #ececec;
	cursor: pointer;
	position: relative;
}

.newLabel {
	background: #31364A;
	color: #FFFFFF;
	cursor: pointer;
}

.newLabel:hover {
	background: #efad5f;
}

.createLabel {
	display: none;
}

.createLabel input {
	width: 100px;
	border: 0;
	outline: none;
	background: transparent;
}

.label_on {
	background: #5970d2 !important;
	color: #FFFFFF !important;
}

.deltab {
	position: absolute;
	width: 12px;
	height: 12px;
	right: -1px;
	top: -1px;
	background: #f1f0ee;
	color: #da821a;
	font-size: 8px;
	line-height: 12px;
	display: none;
}

.deltab:hover {
	background: #3a4a8d;
	color: #FFFFFF;
}

.secondStep_bottom {
	width: 1140px;
	height: 391px;
	padding: 19px;
	background: #f2f2f2;
	position: relative;
	border: 1px solid #ececec;
}

.secondStep_bottom ul,
.secondStep_bottom ul li {
	width: 100%;
	height: 100%;
}

.secondStep_bottom textarea {
	width: 100%;
	height: 195px;
	background: transparent;
	border: 0;
	outline: none;
	resize: none;
}

.secondStep_bottom textarea:first-of-type {
	border-bottom: 1px dashed #cccccc;
	text-indent: 2em;
}

.secondStepGroup {
	width: 100%;
	height: 30px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.secondStepGroup>div {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	color: #FFFFFF;
	background: #31364a;
	border-radius: 4px;
}

.secondStepGroup>div:first-of-type {
	margin-right: 15px;
}

.secondStepGroup>div:hover {
	background: #da821a
}