body {
	background: #e7e7e7;
	font-size: 1.4rem;
}

header {
	width: 100%;
	height: 18rem;
	position: relative;
	float: left;
}

header img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

header div {
	width: 100%;
	height: 5rem;
	background: rgba(0, 0, 0, .6);
	line-height: 5rem;
	text-indent: 2rem;
	color: #FFFFFF;
	font-size: 1.8rem;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}


/*积分消费信息*/

.status {
	width: 100%;
	float: left;
	height: 5.7rem;
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: #FFFFFF;
	margin-bottom: 0.5rem;
}

.status>div {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
}

.status>div>div:first-of-type {
	align-items: flex-start;
}

.status>div>div:last-of-type {
	align-items: flex-end;
}

#usePoints {
	color: #ab8c5f;
	font-size: 1.5rem;
}

#useTime {
	font-size: 1.2rem;
	color: #666666;
}

.orderStatus {
	font-size: 1.2rem;
}

.arriveTime {
	color: #666666;
}

.hasSend {
	color: #f25c33;
}

.noSend {
	color: #00cc8f;
}

.hasUsed {
	color: #808080;
}

.beUsed {
	color: #949494;
	text-decoration: line-through;
}


/*物流信息*/


/*票券类*/

.logistics,
.ticket {
	width: 100%;
	height: 7.5rem;
	float: left;
	margin-bottom: 0.5rem;
	border-radius: 20px;
	background: #FFFFFF;
	display: none;
}

.logistics-wapper,
.ticket-wapper {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.ticket-wapper {
	justify-content: flex-start;
}

.logistics-wapper>div,
.ticket-wapper>div {
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.logistics-wapper>div:first-of-type,
.ticket-wapper>div:first-of-type {
	width: 7.5rem;
	justify-content: center;
	align-items: center;
	color: #949494;
}

.logistics-wapper>div:nth-of-type(2),
.ticket-wapper>div:nth-of-type(2) {
	width: 13.5rem;
	justify-content: center;
	align-items: flex-start;
	color: #333333;
}

.logistics-wapper>div:nth-of-type(2)>span:last-of-type,
.ticket-wapper>div:nth-of-type(2)>span:last-of-type {
	font-size: 1.8rem;
	font-family: "PF_bold";
}

.logistics-wapper>div:last-of-type {
	width: 7rem;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	background: #b7996a;
	border-top-left-radius: 5rem;
	border-bottom-left-radius: 5rem;
	font-size: 1.5rem;
}

.logistics-wapper>div:last-of-type .iconfont {
	margin-right: 0.2rem;
}


/*待发货中*/

.preparing {
	width: 100%;
	height: 7.5rem;
	float: left;
	margin-bottom: 0.5rem;
	border-radius: 20px;
	background: #FFFFFF;
	display: none;
}

.preparing-wapper {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

.preparing-wapper>img {
	width: 8.25rem;
	height: 5rem;
}

.preparing-wapper>a {
	width: 14rem;
	height: 3rem;
	background: #c1a475;
	color: #FFFFFF;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-direction: row;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	border-radius: 20rem;
}


/*详情*/

.details {
	width: 100%;
	float: left;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #FFFFFF;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.details>div:first-of-type {
	width: calc(100% - 2rem);
	float: left;
	color: #949494;
	margin-top: 1rem;
}

.details>div:last-of-type {
	width: calc(100% - 3rem);
	float: left;
	padding-left: 1rem;
}